@main {

<!DOCTYPE html>
    <html>
        <head>
          <title></title>
        </head>
        <body>
            <div class="container">
            <h1>Meet the Team</h1>
            </div>
            <div class="container">
                    <!-- Example row of columns -->
                <div class="row">
                    <div class="col-lg-4">
                        <h2>Chad Hollis</h2>
                        <h4>COO and Chief Product Engineer</h4>
                        <h5>Chad.Hollis@@grannix.com</h5>
                        <p>Chad Hollis graduated Dartmouth College in the summer of 2012 where he double majored in Government and Economics. Chad was also a member of the varsity football team and lettered three out of the four years of his tenure. Also kno​​wn as “DJ Hollisto” by his friends, Chad is known to entertain partygoers during his regular DJ sets.  Currently, Chad lives in Boston, MA and works for Putnam Investments in the Sales and Marketing division.

                            At Grannix, Chad is in charge of developing application concepts and molding them into executable projects. He works simultaneously with the development team during every phase of our project from planning to testing to distribution. He is familiar with several programming languages such as Java and C++ and will often review the nuts and bolts that make our app run with our development team.​</p>
                    </div>
                    <div class="col-lg-4">
                        <h2>Joshua Hall</h2>
                        <h4>Chief Technology Officer and Lead Project Programmer</h4>
                        <h5>Josh.Hall@@grannix.com</h5>
                        <p>Josh Hall is currently a senior at Dartmouth College. He is a Computer Science modified with Digital Arts major who is expected to graduate in June 2014. As a Computer Science Major, Joshua has previous programming experience in many languages including Java, C, Matlab, VHDL, and Assembly. Additionally, he has previous app development experience for Android Smartphones. Outside of the classroom, Joshua participates in a multiple of activities including the Dartmouth Cycling Team, Ujima Dance Troupe, and Hill Winds Society. Currently, Joshua is working for the Principal Financial Group as an Information Technology Intern in Des Moines, IA.

                            At Grannix, Joshua is in charge of implementing application concepts into a fully functional and polished mobile application. As lead programmer, Joshua also oversees all back-end application functionality and processes such as cloud and data management as well as any efficiency issues.​</p>
                    </div>
                </div>
            <div class="well">
                Look, I'm in a well!
            </div>
        </body>
    </html>

}