
@main {


<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>Jumbotron Template for Bootstrap</title>
                <!-- Custom styles for this template -->
            <link href="jumbotron.css" rel="stylesheet">
        </head>
        <body>

                <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1>Welcome!</h1>
                    <p>
                        Grannix is a software development company that sp​ecializes​ in custom solutions for college athletic programs.  Grannix was founded by Division I student-athletes who are using their college experiences to give athletic programs a fresh new way to connect with fans and student-athletes.

                        For more info, please contact us at info@@Grannix.com.​
                    </p>
                    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
                </div>
            </div>

        </body>
    </html>


}
